@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  background-color: #f4f5f9;
  @apply text-[#636363];
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5f585a3c;
  border-radius: 10px;
}

html {
  overflow-y: scroll;
}
